{
  "comments": false,
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}, "useBuiltIns": "usage", "exclude": ["transform-regenerator"]}]
  ],
  "plugins": [
    ["add-module-exports"]
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}, "useBuiltIns": "usage", "exclude": ["transform-regenerator"], "modules": false}]
      ]
    }
  }
}
